name:  "执行jar"
on:
push:
jobs:
test:
runs-on: ubuntu-latest
steps:
- uses: actions/checkout@v3
- uses: actions/setup-java@v5
with: java-version: '17'
- name: 执行jar
   run: |
   java -jar Test01.jar
		