name: excutejar
on:
push:
jobs:
test:
runs-on: ubuntu-latest
steps:
- uses: actions/checkout@v3
- uses: actions/setup-java@v5
  with:
    distribution: 'temurin' # See 'Supported distributions' for available options
    java-version: '21'
- run: java -jar Test01.jar